<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>{{ title }}</title>
  <script type="text/javascript">
  var images = [
          {% for item in src_list %}
           "{{ item }}",
          {% endfor %}
  ];
  var labels = [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
  ];
    var index = 0;

    function buildImage() {
      var img = document.createElement('img');
      var label = document.createElement('P');
      label.innerHTML = labels[index];
      img.src = images[index];
      document.getElementById('content').appendChild(img);
      document.getElementById('content').appendChild(label);
    }

    function changeImage(){
      var img = document.getElementById('content').getElementsByTagName('img')[0]
      var label = document.getElementById('content').getElementsByTagName('P')[0]
      index++;
      index = index % 5; // This is for if this is the last image then goto first image I have 4 images so I've given 4 change accordingly 
      label.innerHTML = labels[index];
      img.src = images[index];
    }
  </script>
</head>
<body onload="buildImage();">
<center> 
<h1 class="display-4">{{ title }}</h1>
    <div class="contents" id="content"></div>
    <button onclick="changeImage()">Next Artist</button>
</center>
</body>
</html>
